.billboard-container {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.billboard-container img {
    height: 300px;
}

.billboard-container-mob{
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 20px;
}