.main-banner {
    width: -webkit-fill-available;
    background-image: url("../img/banner-dg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
}

.bloco-banner-left img {
    max-width: 750px;
    margin-bottom: -120px;
}

.cta-link {
    font-family: "utendo-bold";
    text-decoration: none;
    color: #002AEE;
    background-color: #FFFFFF;
    padding: 8px 20px;
    vertical-align: middle;
    border-radius: 4px;
    height: fit-content;
    margin-left: -14rem;
}

.banner-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #FFFFFF;
    background-color: #022162;
}

.banner-info span, .mob-auto-scroll span {
    font-family: "utendo-bold";
    text-align: center;
}

.mob-auto-scroll span {
    position: absolute;
    animation: scroll-horizontal 20s linear infinite;
    animation-delay: 0s;
}

.mob-auto-scroll {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    padding: 20px;
    margin-top: -5px;
    color: #FFFFFF;
    background-color: #022162;
    overflow-x: hidden;
    position: relative;
}

@keyframes scroll-horizontal {
    0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}